In [5]:
import numpy as np
import pandas as pd
from utils import *
from lightgbm import LGBMClassifier

# LGBM baseline

In [28]:
df_train = get_data_train()
df_test = get_data_test()

X_train = df_train.drop(columns=["Cover_Type"], axis=1)
y_train = df_train["Cover_Type"]

In [29]:
c_w ={1: 0.4, 2: 0.45, 3: 0.04,4: 0.01, 5: 0.04, 6: 0.04, 7: 0.04}

lgbm = LGBMClassifier(
    objective='multiclass',
    num_class=7,
    class_weight=c_w,
    boosting_type='gbdt',
    num_leaves=31,
    n_estimators=300,
    verbose=-1,
    n_jobs=-1
)

IWCV(df_train, lgbm, k_valid=10)

(0.8265605816241439,
 array([0.81540888, 0.79333206, 0.89238411, 0.97054008, 0.9456285 ,
        0.91259727, 0.96311979]))

## Soil Type

In [41]:
from feature_engineering import *

group_geological_zone(df_train)

,Id,Elevation,Aspect,Slope,Horizontal_Distance_To_Hydrology,Vertical_Distance_To_Hydrology,Horizontal_Distance_To_Roadways,Hillshade_9am,Hillshade_Noon,Hillshade_3pm,...,Soil_Type34,Soil_Type35,Soil_Type36,Soil_Type37,Soil_Type38,Soil_Type39,Soil_Type40,Cover_Type,ST_concat,geological_zone
0,242642,2881,130,22,210,54,1020,250,221,88,...,0,0,0,0,0,0,0,1,30,7
1,309891,3005,351,14,242,-16,1371,194,215,159,...,0,0,0,0,0,0,0,1,24,7
2,287847,3226,63,14,618,2,1092,232,210,107,...,0,0,0,0,0,0,0,1,29,7
3,516307,3298,317,8,661,60,752,198,233,174,...,0,0,0,0,0,0,0,1,23,2
4,124860,3080,35,6,175,26,3705,219,227,144,...,0,0,0,0,0,0,0,1,24,7
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
15115,475155,3328,321,13,323,12,5109,186,227,180,...,0,0,0,0,1,0,0,7,38,7
15116,514378,3455,37,5,841,92,939,220,229,146,...,0,0,0,0,0,0,1,7,40,0
15117,368425,3279,90,14,404,113,1513,240,218,105,...,0,0,0,0,0,0,0,7,29,7
15118,537844,3589,357,9,418,52,1868,205,223,155,...,0,0,0,0,0,0,1,7,40,0
15119,463634,3385,345,15,350,76,3625,190,216,164,...,0,0,0,0,0,0,1,7,40,0